.Signup
  .Signup__top
    .Signup__top-image
      =link_to root_path do
        = image_tag 'logo.png', class: 'Signup__top-image-image'
  .Signup__main
    .Signup__main__left
    .Signup__main__center
      .Signup__main__center__login
        .Signup__main__center__login__text アカウントをお持ちの方はこちら
        %br/
        = link_to 'ログインページへ', new_user_session_path, class: 'Signup__main__center__login-btn'
      .Signup__main__center__text 会員情報入力
      = form_with model: @user, url: user_registration_path, class: "Signup__main__center__form", local: true do |f|
        = render "devise/shared/error_messages", resource: resource
        .Signup__main__center__form-nickname
          .Signup__main__center__form-nickname-text
            = f.label :ニックネーム
            %span.span
              必須
          = f.text_field :nickname, autofocus: true, autocomplete: "nickname",placeholder: '例）タロウ', class: 'Signup__main__center__form-nickname-form'
        .Signup__main__center__form-email
          .Signup__main__center__form-email-text
            = f.label :メールアドレス
            %span.span
              必須
          = f.email_field :email, autocomplete: "email",placeholder: '例）aiu@eo.com', class: 'Signup__main__center__form-email-form'
        .Signup__main__center__form-pass
          .Signup__main__center__form-pass-text
            = f.label :パスワード（７文字以上）
            %span.span
              必須
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
          = f.password_field :password, autocomplete: "new-password", class: 'Signup__main__center__form-pass-form'
        .Signup__main__center__form-pass_confirm
          .Signup__main__center__form-pass_confirm-text
            = f.label :パスワード（確認用）
            %span.span
              必須
          = f.password_field :password_confirmation, autocomplete: "new-password", class: 'Signup__main__center__form-pass_confirm-form'
        .Signup__main__center__form-last_name
          .Signup__main__center__form-last_name-text
            = f.label :姓（全角）
            %span.span
              必須
          = f.text_field :last_name,placeholder: '例）山田', class: 'Signup__main__center__form-last_name-form'
        .Signup__main__center__form-first_name
          .Signup__main__center__form-first_name-text
            = f.label :名（全角）
            %span.span
              必須
          = f.text_field :first_name,placeholder: '例）太郎', class: 'Signup__main__center__form-first_name-form'
        .Signup__main__center__form-last_name_furi
          .Signup__main__center__form-last_name_furi-text
            = f.label :姓カナ（全角）
            %span.span
              必須
          = f.text_field :last_name_furi,placeholder: '例）ヤマダ', class: 'Signup__main__center__form-last_name_furi-form'
        .Signup__main__center__form-first_name_furi
          .Signup__main__center__form-first_name_furi-text
            = f.label :名カナ（全角）
            %span.span
              必須
          = f.text_field :first_name_furi,placeholder: '例）タロウ', class: 'Signup__main__center__form-first_name_furi-form'
        .Signup__main__center__form-birth
          .Signup__main__center__form-birth-text
            = f.label :生年月日
            %span.span
              必須
          != sprintf(f.date_select(:birth,with_css_classes:'XXXXX', prompt:"--",use_month_numbers:true, start_year:Time.now.year, end_year:1930, date_separator:'%s'),'年','月')+'日'
        .Signup__main__center__form-send_last_name
          .Signup__main__center__form-send_last_name-text
            = f.label :送付先：姓
            %span.span
              必須
          = f.text_field :send_last_name,placeholder: '例）山田', class: 'Signup__main__center__form-send_last_name-form'
        .Signup__main__center__form-send_first_name
          .Signup__main__center__form-send_first_name-text
            = f.label :送付先：名
            %span.span
              必須
          = f.text_field :send_first_name,placeholder: '例）太郎', class: 'Signup__main__center__form-send_first_name-form'
        .Signup__main__center__form-send_last_name_furi
          .Signup__main__center__form-send_last_name_furi-text
            = f.label :送付先：姓（カナ）
            %span.span
              必須
          = f.text_field :send_last_name_furi,placeholder: '例）ヤマダ', class: 'Signup__main__center__form-send_last_name_furi-form'
        .Signup__main__center__form-send_first_name_furi
          .Signup__main__center__form-send_first_name_furi-text
            = f.label :送付先：名（カナ）
            %span.span
              必須
          = f.text_field :send_first_name_furi,placeholder: '例）タロウ', class: 'Signup__main__center__form-send_first_name_furi-form'
        .Signup__main__center__form-post
          .Signup__main__center__form-post-text
            = f.label :郵便番号（半角数字、ハイフンなし）
            %span.span
              必須
          = f.text_field :post,placeholder: '例）0001111', class: 'Signup__main__center__form-post-form'
        .Signup__main__center__form-prefecture
          .Signup__main__center__form-prefecture-text
            = f.label :都道府県
            %span.span
              必須
          = f.text_field :prefecture,placeholder: '例）愛知県', class: 'Signup__main__center__form-prefecture-form'
        .Signup__main__center__form-city
          .Signup__main__center__form-city-text
            = f.label :市区町村
            %span.span
              必須
          = f.text_field :city,placeholder: '例）名古屋市中区', class: 'Signup__main__center__form-city-form'
        .Signup__main__center__form-block
          .Signup__main__center__form-block-text
            = f.label :番地
            %span.span
              必須
          = f.text_field :block,placeholder: '例）栄3-10', class: 'Signup__main__center__form-block-form'
        .Signup__main__center__form-building
          .Signup__main__center__form-building-text
            = f.label :マンション名、ビル名、部屋番号
          = f.text_field :building,placeholder: '例）アパート栄 301', class: 'Signup__main__center__form-building-form'
        .Signup__main__center__form-phone
          .Signup__main__center__form-phone-text
            = f.label :送付先：電話番号（半角数字、ハイフンなし）
          = f.text_field :phone,placeholder: '例）09011110000', class: 'Signup__main__center__form-phone-form'
        = f.submit "新規会員登録",class: 'Signup__main__center__form-btn'
    .Signup__main__right
  .Signup__buttom

