.header
  .header__top
    .header__top__main
      %a{ href: root_path}
        .header__top__main__tag
          = image_tag 'logo.png', class: 'header__top__main__tag'
      %form.header__top__main__searchBox
        %input.header__top__main__searchBox__input-text{ placeholder: "キーワードから探す", :type => "text"}/
        %button.header__top__main__searchBox__button{ type: "submit"}
          .header__top__main__searchBox__button__search
            = image_tag 'icon-search 1.png', class: 'header__top__main__searchBox__button__search'
    .navi
      .categories
        %ul.categories__top
          %li
            = link_to "#", class: "category__search search__btn" do
              %i.fas.fa-bars.category__top__icon
                カテゴリー
            %ul.category__parent.category__list
              - @parents.each do |parent| 
                %li
                  = link_to "#", class: "category__parent--name" do
                    = parent.name
                  %ul.category__child.category__list
                    - parent.children.each do |child|
                      %li
                        = link_to "#", class: "category__child--name" do
                          = child.name
                        %ul.category__grandchild.category__list
                          - child.children.each do |grandchild|
                            %li
                              = link_to "#", class: " category__child--name" do
                                = grandchild.name 
      %a#catBtn.navi__branded{ href: "#"} ブランド
      %ul.navi__listsRight
        %a.navi__listsRight__login{ href: "/users/show"} マイページ
