.selling-header
  .selling-header__center
    .selling-header__center__logo
      = link_to image_tag('logo/logo.png', alt: "FURIMA", width: '200'), root_path
.done-body
  .purchase
    .purchase__section
      %h2.purchase__section__head
        出品が完了しました！
      .purchase__section__image
        = image_tag @item.images.first.image.url, alt: '商品画像', size: '150x150'
      .purchase__section__item-name
        = @item.name
      .purchase__section__price
        = "¥ #{@item.price} 円(税込)"
      .purchase__section__burden
        = @item.delivery_burden
      = link_to "マイページ", "/users/show", class: "mypage-btn"
.selling-footer
