<div class="selling-header">
  <div class="selling-header__center">
    <div class="selling-header__center__logo">
      <%= image_tag 'logo/logo.png', alt: "FURIMA", width: '200' %>
    </div>
  </div>
</div>
<div class="selling-body">
  <div class="selling-body__form">
    <%= form_with model: @item, local: true do |f| %>
      <%= render partial: "error_messages" %>

      <div class="selling-body__form__field">
        <div class="character">
          出品画像<span class="must">必須</span>
        </div>
        <div class="selling-body__form__field__image">
          <%= f.fields_for :images do |i| %>
            <%= i.file_field :image, class: "image-file" %><br>
          <% end %>
        </div>
      </div>

      <div class="selling-body__form__field">
        <div class="character">
          商品名<span class="must">必須</span>
        </div>
        <%= f.text_field :name, placeholder: "40文字まで" %><br>
      </div>

      <div class="selling-body__form__field">
        <div class="character">
          商品の説明<span class="must">必須</span>
        </div>
        <%= f.text_area :explanation, placeholder: "商品の説明（必須　1,000文字以内）" %><br>
      </div>

      <div class="h-character">
        商品の詳細
      </div>

      <div class="selling-body__form__field">
        <div class="character">
          カテゴリー<span class="must">必須</span>
        </div>
        <div class="selling-body__form__field__category">
          <%= f.collection_select :category_id, Category.where(ancestry: nil), :id, :name, {prompt: '選択してください'}, {id: 'parent_category'} %>
        </div>
      </div>

      <div class="selling-body__form__field">
        <div class="character">
          ブランド
        </div>
        <%= f.text_field :brand, placeholder: "例）シャネル" %><br>
      </div>

      <div class="selling-body__form__field">
        <div class="character">
          商品の状態<span class="must">必須</span>
        </div>
        <%= f.select :status, [["新品、未使用", "新品、未使用"], ["未使用に近い", "未使用に近い"], ["目立った傷や汚れなし", "目立った傷や汚れなし"],
          ["やや傷や汚れあり", "やや傷や汚れあり"], ["傷や汚れあり", "傷や汚れあり"], ["全体的に状態が悪い", "全体的に状態が悪い"]], include_blank: "選択してください" %><br>
      </div>
      <%= f.hidden_field :sell_or_sold, value: "出品中" %>

      <div class="h-character">
        配送について
      </div>

      <div class="selling-body__form__field">
        <div class="character">
          配送料の負担<span class="must">必須</span>
        </div>
        <%= f.select :delivery_burden, [["送料込み（出品者負担）", "送料込み（出品者負担）"], ["着払い（購入者負担）", "着払い（購入者負担）"]], include_blank: "選択してください" %><br>
      </div>

      <div class="selling-body__form__field">
        <div class="character">
          発送元の地域<span class="must">必須</span>
        </div>
        <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "選択してください" %><br>
      </div>

      <div class="selling-body__form__field">
        <div class="character">
          発送までの日数<span class="must">必須</span>
        </div>
        <%= f.select :delivery_day, [["1~2日で発送", "1~2日で発送"], ["2~3日で発送", "2~3日で発送"], ["4~7日で発送", "4~7日で発送"]], include_blank: "選択してください" %><br>
      </div>

      <div class="h-character">
        価格（¥300〜9,999,999）
      </div>

      <div class="selling-body__form__field--sale">
        <div class="sale-character">
          <div class="character">
            販売価格<span class="must">必須</span>
          </div>
        </div>
        <div class="sale-value">
          ¥&nbsp;<%= f.number_field :price, placeholder: "0" %><br>
        </div>
      </div>

      <div class="selling-body__form__field--sale">
        <div class="sale-character">
          販売手数料（10%）
        </div>
        <div class="sale-fee">
          ---
        </div>
      </div>

      <div class="selling-body__form__field--sale">
        <div class="sale-character">
          販売利益
        </div>
        <div class="sale-profit">
          ---
        </div>
      </div>
      <div class="selling-body__form__btn-area">
        <%= f.submit "出品する", class: "submit-btn" %>
      </div>
    <% end %>
  </div>
</div>
<div class="selling-footer">
</div>