%header
-if user_signed_in?
  = render partial: 'header-login' 
-else
  = render partial: 'header-logout' 

.main
  .main__showMain
    .main__showMain__contentRight
      .main__showMain__contentRight__topContent
        .main__showMain__contentRight__topContent__itemBox
          %h2.main__showMain__contentRight__topContent__itemBox__name
            = @item.name
          .main__showMain__contentRight__topContent__itemBox__body
            = image_tag @item.images.first.image.url ,class: "image-file"
          .main__showMain__contentRight__topContent__itemBox__Box
            .main__showMain__contentRight__topContent__itemBox__Box__low
              - @item.images.each do |image|
                =image_tag image.image.url ,class: "image-low"

          .main__showMain__contentRight__topContent__itemBox__price
            %span ￥
            = @item.price
          .main__showMain__contentRight__topContent__itemBox__priced
            %span (税込)
            = @item.delivery_burden

        - if user_signed_in?
          - if current_user.id == @item.seller_id
            .listing-item-change-box
              = link_to edit_item_path(@item.id) do
                %button.btn-default.btn-blue{type: "submit"} 商品の編集
              = link_to item_path(@item.id), method: :delete do
                %button.btn-default.btn-red{type: "submit"} この商品を削除する

          - else
            = link_to "/purchase/items/#{@item.id}/check" do
              %input.product-listing__purchase-btn{type:"submit", value:"購入画面に進む"}/
        - else
          = link_to "/users/sign_in" do
            %input.product-listing__purchase-btn{type:"submit", value:"購入画面に進むログイン"}/

        .main__showMain__contentRight__topContent__temDetail
          = @item.explanation

        %table.main__showMain__contentRight__topContent__table
          %tablebody.main__showMain__contentRight__topContent__table__tablebody
            %tr
              %th.main__showMain__contentRight__topContent__table__tablebody__title 出品者
              %td.main__showMain__contentRight__topContent__table__tablebody__comment
                =@item.seller.nickname
            %tr
              %th.main__showMain__contentRight__topContent__table__tablebody__title カテゴリー
              %td.main__showMain__contentRight__topContent__table__tablebody__comment
                %a.category{:href => "#"}
                  = @item_category_parent.name
                %br/
                %a.category{:href => "#"}
                  = @item_category_child.name
                %br/
                %a.category{:href => "#"}
                  = @item_category_grandchild.name
            %tr
              %th.main__showMain__contentRight__topContent__table__tablebody__title ブランド
              %td.main__showMain__contentRight__topContent__table__tablebody__comment
                = @item.brand
            %tr
              %th.main__showMain__contentRight__topContent__table__tablebody__title 商品の状態
              %td.main__showMain__contentRight__topContent__table__tablebody__comment
                = @item.status
            %tr
              %th.main__showMain__contentRight__topContent__table__tablebody__title 配送料の負担
              %td.main__showMain__contentRight__topContent__table__tablebody__comment
                = @item.delivery_burden
            %tr
              %th.main__showMain__contentRight__topContent__table__tablebody__title 発送元の地域
              %td.main__showMain__contentRight__topContent__table__tablebody__comment
                %a.prefecture{:href => "#"}= @item.prefecture.name
            %tr
              %th.main__showMain__contentRight__topContent__table__tablebody__title 発送日の目安
              %td.main__showMain__contentRight__topContent__table__tablebody__comment
                = @item.delivery_day





%banner
  = render partial: 'banner' 
%footer
  = render partial: 'footer' 
  .purchaseBtn
    %span.purchaseBtn__text 出品する
    = link_to image_tag('icon_camera.png', class: 'purchaseBtn__icon'), "/items/new"