= render partial: '/items/header-login' 
.Main
  = render partial: '/users/main-left'
  .Main-card
    .Main-card__section
      .Main-card__section__form
        %h2.Main-card__section__form--title
          支払い方法
        .Main-card__section__form__show
          .Main-card__section__form__show--credit
            .Main-card__section__form__show--credit--card
              クレジットカード
            .Main-card__section__form__show--credit--number
              = "**** **** **** " + @default_card_information.last4
            .Main-card__section__form__show--credit--expire
              - exp_month = @default_card_information.exp_month.to_s
              - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
              = exp_month + " / " + exp_year
          .Main-card__section__form__show--delete
            = button_to '削除する', delete_card_index_path, { method: :post, name: "card_id", value: "", id: "credit-delete"}

= render partial: '/items/footer' 