-if user_signed_in?
  = render partial: '/items/header-login' 
-else
  = render partial: '/items/header-logout' 

.center
  .index
    .index__title
      = "#{@category.name}の商品一覧"
    .index__item
      - @items.each do |item|
        .index__item__content
          = image_tag item.images.first.image.url, width: "220", class: "index__item__content--image"
          .index__item__content--name
            = item.name
          .index__item__content--price
            = "¥ #{item.price} 円"
          .index__item__content--tax
            = "(税込)"

= render partial: '/items/footer'